@{
    ViewData["Title"] = "Brands";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<BrandVM>
<div class="row">
    <div class="col-md-12">
        <br />
        <div class="chart-box" style="font-family:'Comic Sans MS'">
            <br />
            <h2 class="text-center" style="font-family:'Comic Sans MS'; color:skyblue">Brands</h2>
            <br /><hr />
            <div id="example_filter" class="dataTables_filter pull-right">
                <input class="form-control" id="placeholderInput" placeholder="Search" type="text">
            </div>
            <table class="table table-bordered table-responsive text-center table-hover">
                <thead>
                    <tr>
                        <th class="sortable text-center">#</th>
                        <th class="sortable text-center">Name</th>
                        <th class="sortable text-center">Image Url</th>
                        <th class="sortable text-center">Status</th>
                    </tr>
                </thead>
                @{
                    var count = 1;
                    foreach (var brandListVM in Model)
                    {
                        <tr>
                            <td class="text-truncate">@count</td>
                            <td class="text-truncate tag-info"><a href="~/Admin/Brand/Detail/@brandListVM.Id" title="@brandListVM.Name informations">@brandListVM.Name</a></td>
                            <td class="text-truncate">@brandListVM.ImageUrl</td>
                            @{
                                if (brandListVM.IsActive)
                                {
                                    <td class="text-truncate"><span class="lable-tag tag-success btn btn-rounded">Active</span></td>
                                }
                                else
                                {
                                    <td class="text-truncate"><span class="lable-tag tag-unpaid btn btn-rounded">Passive</span></td>
                                }
                            }
                            <td class="text-truncate"><a href="~/Admin/Brand/Update/@brandListVM.Id" class="lable-tag tag-warning btn btn-rounded" title="@brandListVM.Name informations update">Update</a></td>
                            <td class="text-truncate"><a href="~/Admin/Brand/Delete/@brandListVM.Id" class="lable-tag tag-unpaid btn btn-rounded" title="Delete">Delete</a></td>
                        </tr>
                        count++;
                    }
                }
            </table>
            <ul class="pagination m-bot-0 text-center">
                <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
            </ul>
            <br />
            <hr />
            <p class="text-truncate text-center"><a asp-action="Add" class="lable-tag tag-success btn btn-rounded form-control" title="Add new brand">Brand Add</a></p>
        </div>
    </div>
</div>