@{
    ViewData["WebsiteTitle"] = "Comments";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<Multishop.UI.Models.ViewModels.CommentVMs.CommentVM>
<div class="row">
    <div class="col-md-12">
        <br />
        <div class="chart-box" style="font-family:'Comic Sans MS'">
            <br />
            <h2 class="text-center" style="font-family:'Comic Sans MS'; color:skyblue">@ViewBag.ProductName Comments</h2>
            <br /><hr />
            <div id="example_filter" class="dataTables_filter pull-right">
                <input class="form-control" id="placeholderInput" placeholder="Search" type="text">
            </div>
            <table class="table table-bordered table-responsive text-center table-hover">
                <thead>
                    <tr>
                        <th class="sortable text-center">#</th>
                        <th class="sortable text-center">Name Surname</th>
                        <th class="sortable text-center">Email</th>
                        <th class="sortable text-center">Review</th>
                        <th class="sortable text-center">Rating</th>
                        <th class="sortable text-center">Date</th>
                        <th class="sortable text-center">Status</th>
                    </tr>
                </thead>
                @{
                    if (Model is not null)
                    {
                        var commentVMs = Model.OrderBy(comment => comment.NameSurname);
                        var count = 1;
                        foreach (var commentVM in Model)
                        {
                            <tr>
                                <td class="text-truncate">@count</td>
                                @if (commentVM.NameSurname.Length > 10)
                                {
                                    <td class="text-truncate"><a href="#" title="@commentVM.NameSurname">@commentVM.NameSurname.Substring(0, 10)...</a></td>
                                }
                                else
                                {
                                    <td class="text-truncate">@commentVM.NameSurname</td>
                                }
                                @if (commentVM.Email.Length > 10)
                                {
                                    <td class="text-truncate"><a href="#" title="@commentVM.Email">@commentVM.Email.Substring(0, 10)...</a></td>
                                }
                                else
                                {
                                    <td class="text-truncate">@commentVM.Email</td>
                                }
                                @if (commentVM.Review.Length > 10)
                                {
                                    <td class="text-truncate"><a href="#" title="@commentVM.Review">@commentVM.Review.Substring(0, 10)...</a></td>
                                }
                                else
                                {
                                    <td class="text-truncate">@commentVM.Review</td>
                                }
                                <td class="text-truncate">@commentVM.Rating</td>
                                <td class="text-truncate">@commentVM.CreationDate.ToShortDateString() @commentVM.CreationDate.ToShortTimeString()</td>
                                @if (commentVM.IsActive)
                                {
                                    <td class="text-truncate"><span class="lable-tag tag-success btn btn-rounded">@commentVM.IsActive</span></td>
                                }
                                else
                                {
                                    <td class="text-truncate"><span class="lable-tag tag-unpaid btn btn-rounded">@commentVM.IsActive</span></td>
                                }
                            </tr>
                            count++;
                        }
                    }
                }
            </table>
            <ul class="pagination m-bot-0 text-center">
                <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
            </ul>
            <br />
        </div>
    </div>
</div>